@import '../breakpoints'

.interlocutor
	margin-bottom 40px
	padding-bottom 15px
	display inline-flex
	border-bottom 1px dashed #8a8a8a

	@media (max-width: $md-screen)
		margin-bottom 20px

	@media (max-width: $sm-screen)
		display flex
		padding-left 15px
		padding-right 15px

.avatar
	margin-right 15px
	width 60px
	height 60px
	border-radius 8px

	@media (max-width: $md-screen)
		flex 35px 0 0
		width 35px
		height 35px

.data
	display flex
	flex-direction column
	justify-content space-around

.title
	margin 0
	font-size 14px

.name
	padding 0 2px
	background-color #000

.prop
	margin 0
	font-size 14px
	color #8a8a8a

	@media (max-width: $md-screen)
		display none

.value
	color #000

.distance
	composes prop
	margin-top 5px
	display none

	@media (max-width: $md-screen)
		display block
