@import '../breakpoints'

.dialog
	margin 0 20px
	display flex
	flex-direction column
	flex 1

	@media (max-width: $sm-screen)
		margin 0

.back
	margin-bottom 15px
	display inline-flex
	align-items center
	font-size 16px
	color #000
	text-decoration none
	transition .2s all

	@media (max-width: $sm-screen)
		margin-left 15px

	&:before
		content ""
		margin-right 8px
		display block
		width 15px
		height 11px
		background-image url('./back.svg')

	&:hover
		color #1f75b7

.messages
	margin-bottom 25px
	width 75.5%
	flex 1
	overflow auto

	@media (max-width: $md-screen)
		width 100%

	@media (max-width: $sm-screen)
		padding 0 15px
		width auto

.messages :global .mCSB_scrollTools .mCSB_draggerContainer

	@media (max-width: $sm-screen)
		left 11px

.disconnected
	margin 0
	color #999

	@media (max-width: $sm-screen)
		padding 0 15px
		text-align center

.return
	color #1f75b7
